@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p class="text-center h1">Wklej swój dłuuugi link!</p>
<form name="linkForm" method="post">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control h3 rigth_margin" asp-for="Link.OriginalLink" />
            <button name="btnsubmit" type="submit" class="btn btn-primary h3">
                Skróć!
            </button>
        </div>
        <span class="text-danger h4" asp-validation-for="Link.OriginalLink"></span>
    </div>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
