@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<p class="text-center h1">Wklej swój dłuuugi link!</p>
<form method="post">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control h3 rigth_margin" />
            <button class="btn btn-primary h3">
                Skróć!
            </button>
        </div>
    </div>
</form>