/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #02D3C7 !important;
}

.navbar {
    padding: 0rem 1.625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}

.navbar-collapse {
    flex-grow: inherit;
}

.bg-primary {
    background-color: #7B7A7A !important;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

a.no-accent:hover {
    text-decoration: none;
}

.btn {
    display: flex;
}

.btn-primary {
    color: #7B7A7A !important;
    fill: #7B7A7A;
    background-color: #02D3C7;
    border: 0px;
    border-radius: 0.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin: 0;
}

    .btn-primary:hover .clone-svg .clone-path, .btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
        background-color: #7B7A7A;
        color: #02D3C7 !important;
        fill: #02D3C7;
        box-shadow: none;
        outline: none;
    }

        .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem #02D3C7;
        }

.btn-register {
    border-radius: 25px;
    padding: 0.5rem 2.25rem;
    border: none;
    margin-right: 0.8125rem;
}

    .btn-register:hover, .btn-register:focus, .btn-register:active {
        padding: 0.3125rem 2.0625rem;
    }

.btn-register, .btn-login:hover, .btn-login:focus, .btn-login:active {
    background-color: #02D3C7;
    color: #7B7A7A !important;
}

.btn-login {
    padding: 0.3125rem 3.1875rem;
    border-radius: 25px;
}

.btn-login, .btn-register:hover, .btn-register:focus, .btn-register:active {
    background-color: #7B7A7A;
    color: #02D3C7 !important;
    border: 0.1875rem #02D3C7 solid;
}

.btn-back {
    background-color: #fff;
    color: #7B7A7A !important;
    border: 0.1875rem #7B7A7A solid;
    max-height: 40px;
}

    .btn-back:hover, .btn-back:focus, .btn-back:active {
        background-color: #7B7A7A;
        color: #fff !important;
    }

    .btn-back:active, .btn-back:focus {
        box-shadow: 0 0 0 0.2rem #02D3C7;
    }

.btn-delete {
    background-color: #fff;
    color: #EC5635 !important;
    border: 0.1875rem #EC5635 solid;
    max-height: 40px;
}

    .btn-delete:hover, .btn-delete:focus, .btn-delete:active {
        background-color: #EC5635;
        color: #fff !important;
    }

    .btn-delete:active, .btn-delete:focus {
        box-shadow: 0 0 0 0.2rem #F2927D;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 7px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    font-family: "Alata", sans-serif;
    color: #7B7A7A;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

h1, .h1 {
    font-size: 4.3rem;
    letter-spacing: 0.019rem;
}

.h1-margin {
    margin-top: 5rem;
    margin-bottom: 2.375rem;
}

h2, .h2 {
    font-size: 3.125rem;
    letter-spacing: 0.125rem;
}

h3, .h3 {
    font-size: 2.1875rem;
    letter-spacing: 0.125rem;
    margin-bottom: 0px;
}

h4, .h4 {
    font-size: 1.875rem;
    letter-spacing: 0.019rem;
    margin-bottom: 0rem;
}

h5, .h5 {
    font-size: 1.25rem;
    letter-spacing: 0.019rem;
    margin-bottom: 0rem;
}

.navbar-brand {
    font-family: "Fredoka One", cursive;
    font-size: 3.125rem;
    letter-spacing: 0.009375rem;
    color: #02D3C7 !important;
    padding: 0rem !important;
    line-height: 3.75rem !important;
}

.form-control {
    color: #7B7A7A;
    border-radius: 0.5rem;
    border: 2px solid #7B7A7A;
}

    .form-control:focus, .form-control:active {
        border-color: #7B7A7A;
        box-shadow: 0 0 0 0.2rem rgba(123, 122, 122, 0.25);
        outline: none
    }

.rigth_margin {
    margin-right: 1.25rem;
}

.input-group > .form-control:not(:last-child) {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.input-group {
    margin-bottom: 0.25rem;
}

.clone-svg {
    align-self: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.625rem;
}

.summary-svg {
    fill: #7B7A7A;
    width: 6.25rem;
    height: 6.25rem;
    max-width: 75px;
    margin-right: 0.4375rem;
}

.flex-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.25rem;
}

.table-caption {
    margin-top: 3.5rem;
    margin-bottom: 0.75rem;
}

th {
    color: #02D3C7;
    background: #7B7A7A;
}

td {
    color: #7B7A7A;
}

.table-icon {
    height: 2.5rem;
    width: 2.5rem;
}

.stats-icon {
    fill: #7B7A7A;
}

.delete-icon {
    fill: #EC5635;
}

@media(min-width: 768px) {
    .summary-text {
        max-width: 280px;
    }
}

@media (min-width: 992px) {
    .summary-text {
        max-width: 363px;
    }
}

/* Login and register form styles */
.form-box {
    border: 2px solid #7B7A7A;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 2rem 4rem;
}

.form-heading {
    margin-top: 0rem;
    margin-bottom: 4rem;
}

.input-box {
    margin-bottom: 2rem;
}

.login-checkbox {
    height: 1.5rem;
    width: 1.5rem;
}

input.checkbox:hover {
    background: #02D3C7;
}

.link-box {
    margin-bottom: 7rem;
}

.card {
    border: 2px solid #7B7A7A;
    border-radius: 0.9375rem;
    min-height: 784px;
}

.card-header {
    background-clip: content-box;
    background-color: #fff;
    border-bottom: 1px solid #7B7A7A;
    min-height: 109px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: content-box;
    background-color: #fff;
    border-top: 1px solid #7B7A7A;
}

.offer-header-box {
    margin-bottom: 2rem;
}

.card-body-offer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    min-height: 84px;
}

.card-body > *:last-child {
    margin-bottom: 0px;
}

h3.card-body-text {
    text-align: center;
    max-width: 285px;
}

.card-body-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
}

.card-body-icon {
    margin-right: 0.625rem;
}

.btn-card-register {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
}

@media(min-width:1200px) {
    .container {
        max-width: 1320px;
    }
}
